<ul id="list">
    <% for (let todo of completedTasks){ %>
        <s>
            <li>
                <label for="completedCheck">
                    <%= todo.task_name %>
                </label>
            </li>
        </s>
        <% } %>
</ul>